.jets-control {
    padding: 12px 15px;
    margin-bottom: 30px;
}

.jets-control {
    width: 100%;
    box-sizing: border-box !important;
    box-shadow: none !important;
    outline: none;
    border: 1px solid rgb(220, 220, 220) !important;
    border-radius: 0 !important;
}

    .jets-control:focus {
        border: 1px solid #333 !important;
        outline: none !important;
    } 

.jets-group {
    position: relative;
}

.jets-control ~ label {
    position: absolute;
    left: 0;
    color: #333;
    transition: .5s;
    pointer-events: none;
    font-size: 0.950rem;
    font-weight: 300;
    transform-origin: left center;
    transform: translateY(0px) scale(1);
    position: absolute;
    top: 1.15rem;
    left: 15px;
    color: rgb(112, 112, 112);
    z-index: 2;
    pointer-events: none;
    line-height: 1em;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: calc(100% - 32px);
    transition: all 150ms ease 0s;
    margin: 0px;
    padding: 0px 3px;
    overflow: hidden;
}

.jets-textarea textarea ~ label {
    top: 1.75rem;
}

.jets-textarea textarea {
    resize: none;
    padding: 12px 15px;
    margin: 0;
}

    .jets-textarea textarea:focus ~ label {
        top: -6px;
        left: 15px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        box-sizing: border-box;
        color: #008ecc;
        font-size: 0.75rem;
    }

.jets-control:focus ~ label,
.jets-control.valid ~ label {
    top: -6px;
    left: 0;
    color: #008ecc;
    font-size: 0.75rem;
    /*font-weight: bold;*/
    left: 15px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
}

    .jets-control:focus ~ label::before,
    .jets-control:valid ~ label::before,
    .jets-control ~ label::before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0px;
        z-index: -1;
        background: white !important;
        box-sizing: border-box;
    }

.form-control.valid:not(:focus) ~ label {
    color: initial;
}


.jets-btn {
    width: 100%;
    background: #008ecc;
    color: #fff;
    text-transform: uppercase;
    font-size: 1rem;
    padding: 5px 5px;
    border: 0;
    transition: .3s all ease;
    cursor: pointer;
    height: 48px;
    vertical-align: middle;
    font-weight: bold;
}

    .jets-btn:hover {
        transition: .3s all ease;
        background: #009ecc;
    }

.jets-link {
    margin-top: 8px;
}

    .jets-link a {
        text-decoration: none;
        color: #008ecc;
        transition: .3s all ease;
    }

        .jets-link a:hover {
            color: #009ecc;
            transition: .3s all ease;
        }

.body-background {
    background-color: #efefee;
    background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23fbfbfc' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M0 40L40 0H20L0 20M40 40V20L20 40'/%3E%3C/g%3E%3C/svg%3E");
}

.error-message::before {
    display: block;
    content: "";
    width: 0;
    height: 0;
    border: .5rem solid transparent;
    position: absolute;
    top: -4px;
    left: 16px;
}

.error-message::before {
    border-top: .4rem solid rgb(204,0,40) !important;
}

.error-message {
    display: block;
    position: relative;
    font-size: 0.8rem;
    background: none;
    margin: 4px 0 -8px;
    padding: 0;
    text-align: left;
    top: -30px;
    color: rgb(204,0,40);
    white-space: pre-line;
}

.error-message-textarea {
    top: -6px;
}

.jets-control.invalid {
    border: 1px solid rgb(204,0,40) !important;
}

    .jets-control.invalid ~ label {
        color: rgb(204,0,40);
    }

/* Password ToolTip */

.password-bubble {
    color: #666;
    border: 1px solid #a1a1a1;
    width: 230px;
    font-size: 1rem;
    z-index: 2;
    left: 102.5%;
    top: -1.5rem;
    white-space: normal;
}

.password-bubble {
    position: absolute;
    background: #fff;
}

@media only screen and (max-width: 50em) {
    .password-bubble {
        left: 50%;
        top: 57px;
    }

        .password-bubble::before {
            display: block;
            content: "";
            width: 0;
            height: 0;
            border: 1rem solid transparent;
            position: absolute;
            top: -1rem !important;
            left: 5% !important;
            border-bottom: .5rem solid #a1a1a1 !important;
            border-left: .5rem solid transparent !important;
            border-right: .5rem solid transparent !important;
        }
}

.password-bubble::before {
    display: block;
    content: "";
    width: 0;
    height: 0;
    border: 1rem solid transparent;
    position: absolute;
    top: 2rem;
    left: -1.55rem;
    border-top: .5rem solid transparent;
    border-bottom: .5rem solid transparent;
    border-right: .5rem solid #a1a1a1;
}

.password-bubble-content {
    font-weight: 700;
    font-size: 90%;
    padding: 5px;
    color: #666;
}

.not-valid-pass {
    color: #e33242 !important;
}

.valid-pass {
    color: #29ad61 !important;
}

.checkmark {
    display: inline-block;
    width: 22px;
    height: 22px;
    background: green;
    border-radius: 50%;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    top: 14px;
    transition: right .2s;
    right: 15px;
}

    .checkmark::before {
        height: 9px;
        left: 11px;
        top: 6px;
    }

    .checkmark::after, .checkmark::before {
        content: "";
        width: 3px;
        background-color: #fff;
        position: absolute;
    }

    .checkmark::after {
        height: 3px;
        left: 8px;
        top: 12px;
    }

    .checkmark::after, .checkmark::before {
        content: "";
        width: 3px;
        background-color: #fff;
        position: absolute;
    }

.eye-icon {
    float: right;
    right: 40px;
    top: -4rem;
    position: relative;
    z-index: 2;
    color: #666;
}

.eye-icon-no-checkmark {
    float: right;
    right: 10px;
    top: -4rem;
    position: relative;
    z-index: 2;
    color: #666;
}

.login {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    background: #fff;
    padding: 40px;
    box-sizing: border-box;
    border: 1px solid rgba(0,0,0,.1);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    transform: translate(-50%, -50%);
}

    .login h3 {
        margin: 0 0 40px;
        padding: 0;
        color: #008ecc;
        text-transform: uppercase;
        text-align: center;
    }

.registration {
    position: relative;
    top: 2rem;
    margin: auto;
    margin-bottom: 2rem;
    width: 400px;
    background: #fff;
    padding: 40px;
    box-sizing: border-box;
    border: 1px solid rgba(0,0,0,.1);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

    .registration h3 {
        margin: 0 0 40px;
        padding: 0;
        color: #008ecc;
        text-transform: uppercase;
        text-align: center;
    }

    .registration textarea ~ label {
        top: 1.75rem;
    }

    .registration textarea {
        resize: none;
        padding: 12px 15px;
        margin: 0;
    }

    .registration button {
        width: 100%;
        background: #008ecc;
        color: #fff;
        text-transform: uppercase;
        font-size: 1rem;
        padding: 5px 5px;
        border: 0;
        transition: .3s all ease;
        cursor: pointer;
        height: 48px;
        vertical-align: middle;
        font-weight: bold;
    }

        .registration button:hover {
            transition: .3s all ease;
            background: #009ecc;
        }

    .registration button {
        width: 100%;
        background: #008ecc;
        color: #fff;
        text-transform: uppercase;
        font-size: 1rem;
        padding: 5px 5px;
        border: 0;
        transition: .3s all ease;
        cursor: pointer;
        height: 48px;
        vertical-align: middle;
        font-weight: bold;
    }

        .registration button:hover {
            transition: .3s all ease;
            background: #009ecc;
        }

.registration-login-link {
    margin-top: 8px;
}

    .registration-login-link a {
        text-decoration: none;
        color: #008ecc;
        transition: .3s all ease;
    }

        .registration-login-link a:hover {
            color: #009ecc;
            transition: .3s all ease;
        }

.or-text{
    text-align:center;
    color: #717171;
    padding: 20px 0;
    text-transform:uppercase;
    font-size: 1rem;
}

.artist-btn {
    background: #ff1a47 !important;
    border: #ff1a47 !important;
    transition: all .3s ease;
}

    .artist-btn:hover {
        background: #fc204b !important;
        border: #fc204b !important;
        transition: all .3s ease;
    }

.times-btn {
    position: absolute;
    top: 0.4rem;
    right: -0.4rem;
    font-size: 25px !important;
    text-decoration: none;
    color: #008ecc;
    transition: .3s all ease;
}

    .times-btn:hover {
        color: #009ecc;
        transition: .3s all ease;
    }

.incorrect-message {
    background: rgba(249,56,62,0.08);
    padding: 10px 0;
    font-size: 0.85rem;
    color: #dc3545;
    margin-bottom: 30px;
    border-left: 2px solid rgba(249,56,62,0.6);
    /*border-right: 2px solid rgba(249,56,62,0.6);*/
    padding: 13px;
}

.success-message {
    background: rgba(148,196,126,0.08);
    padding: 10px 0;
    font-size: 0.85rem;
    color: #1d7531;
    margin-bottom: 30px;
    border-left: 2px solid #94C47E;
    /*border-right: 2px solid #94C47E;*/
    padding: 13px;
}

.search-btn {
    height: auto;
    background: #fff !important;
    color: #008ecc;
    border: 1px solid #ccc;
    border-left: none !important;
    transition: .3s all ease !important;
}

    .search-btn:hover {
        border: 1px solid red !important;
        border-left: none !important;
        transition: .3s all ease !important;
        filter: brightness(1.1);
    }

.cat-img {
    width: 100px;
    height: 100px;
}

.empty-search{
    padding: 40px 0;
    left: 50%;
    text-align: center;
}

    .empty-search ul li {
        text-align: left;
        list-style-position: inside;
    }

.tips {
    background: rgba(250,234,203, 0.2);
    border-left: 3px solid #f8e1b4;
    padding: 15px 0;
    padding-left: 30px;
}

.found-result{
    padding-top: 40px;
}

.cart {
    margin: 20px 0;
    float: left;
    left: 62.5%;
    background: white;
    width: 320px;
    position: absolute;
    border-radius: 0 !important;
    padding: 20px;
    top: 5.7rem;
    /*border: 2px solid #008ecc;*/
    padding-top: 0;
    /*border: 1px solid #d3d3d3;*/
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    z-index: 1;
}

@media (max-width: 1870px) {
    .cart {
        left: 63%;
    }
}

@media (max-width: 1770px) {
    .cart {
        left: 64%;
    }
}

@media (max-width: 1650px) {
    .cart {
        left: 65%;
    }
}

@media (max-width: 1560px) {
    .cart {
        left: 66%;
    }
}

@media (max-width: 1480px) {
    .cart {
        left: 67%;
    }
}

@media (max-width: 1380px) {
    .cart {
        left: 68%;
    }
}

@media (max-width: 1300px) {
    .cart {
        left: 69%;
    }
}

@media (max-width: 1200px){
    .cart {
        left: 62%;
    }
}

@media (max-width: 1100px) {
    .cart {
        left: 63%;
    }
}

@media (max-width: 1050px) {
    .cart {
        left: 65%;
    }
}

@media (max-width: 992px) {
    .cart {
        left: 53%;
    }
}

@media (max-width: 850px) {
    .cart {
        left: 53%;
    }
}

@media (max-width: 767px) {
    .cart {
        left: 23%;
        top: 10.5rem;
    }
}

@media (max-width: 700px) {
    .cart {
        left: 20%;
        top: 10.5rem;
    }
}

@media (max-width: 666px) {
    .cart {
        left: 19%;
        top: 10.5rem;
    }
}

@media (max-width: 650px) {
    .cart {
        left: 18%;
        top: 10.5rem;
    }
}

@media (max-width: 620px) {
    .cart {
        left: 17%;
        top: 10.5rem;
    }
}

@media (max-width: 600px) {
    .cart {
        left: 14%;
        top: 10.5rem;
    }
}

@media (max-width: 576px) {
    .cart {
        left: 13%;
        top: 10.5rem;
    }
}

@media (max-width: 540px) {
    .cart {
        left: 5%;
        top: 10.5rem;
    }
}

@media (max-width: 540px) {
    .cart {
        left: 9%;
        top: 10.5rem;
    }
}

    .cart::before {
        content: '';
        width: 0;
        height: 0;
        border-top: 13px solid transparent;
        /*border-bottom: 13px solid #008ecc;*/
        border-bottom: 13px solid rgba(0,0,0, .04);
        border-right: 13px solid transparent;
        border-left: 13px solid transparent;
        position: relative;
        top: -35px;
        left: 107px;
    }

    .cart::after {
        content: '';
        width: 0;
        height: 0;
        border-top: 11px solid transparent;
        border-bottom: 11px solid #fff;
        border-right: 11px solid transparent;
        border-left: 11px solid transparent;
        position: absolute;
        top: -22px;
        left: 8.1rem;
    }

.cart-body {
    border-bottom: 1px solid rgba(77, 77, 77,0.1);
    padding: 15px 0;
    cursor: pointer;
}

.cart-body:nth-child(1) {
    padding-top: 0;
}

    .cart-body img {
        width: 50px;
        height: 50px;
        float: left;
        margin-right: 12px;
        border: 1px solid #eee;
    }

.item-name{
    font-weight:bold;
    color: #333;
    display:block;
}

.item-price {
    color: #ccc;
    font-size: 0.9rem;
    float: right;
    padding-right: 15px;
}

.item-qty {
    color: #ccc;
    font-size: 0.9rem;
}

.cart-footer {
    color: rgba(0, 142, 204, 0.8);
    font-size: 0.9rem;
    padding-top: 10px;
}

.cart-total-text{
    font-weight: 600;
    font-size: 1rem;
}

.cart-total-price {
    float: right;
    padding-right: 15px;
}

.cart-btn{
    margin-top: 10px;
    height: 36px;
    font-size: 0.9rem;
}

.viewcart-btn {
    margin-top: 5px;
    background: white;
    border: 1px solid #008ecc;
    color: #008ecc;
}

.viewcart-btn:hover {
    background: white;
    border: 1px solid #008ecc;
    color: #008ecc;
}

.cart-counter {
    display: none;
    position: absolute;
    top: 4.7rem;
    float: right;
    line-height: 1.5;
    font-size: .7rem;
    left: 24.1rem;
    background: #008ecc;
    color: #fff;
    border-radius: 50%;
    height: 16px;
    width: 16px;
    text-align: center;
}

.cart-no-items{
    color: #777;
    text-align: center;
}

.card-img-top {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.card {
    border-radius: 0;
}

.jets-box {
    box-shadow: 0 2px 16px 0 rgba(0,0,0,0.08);
}

.breadcrumb {
    box-shadow: 0 2px 16px 0 rgba(0,0,0,0.08);
}

.social-icons {
    display: flex;
}

.social-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 35px;
    height: 35px;
    margin: 0 0.1rem;
    cursor: pointer;
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-size: 1.3rem;
    text-decoration: none;
    transition: all 0.15s ease;
}

    .social-icon:hover {
        color: #fff;
    }

        .social-icon:hover .tooltip {
            visibility: visible;
            opacity: 1;
            transform: translate(-50%, -150%);
        }

    .social-icon:active {
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5) inset;
    }

.social-icon--twitter {
    background: #2b97f1;
    color: #d8d8d8;
    margin-right: 0.3rem;
}

    .social-icon--twitter .tooltip {
        background: #2b97f1;
    }

        .social-icon--twitter .tooltip:after {
            border-top-color: #2b97f1;
        }

.social-icon--facebook {
    background: #3b5a9b;
    color: #fff;
}

    .social-icon--facebook .tooltip {
        background: #3b5a9b;
    }

        .social-icon--facebook .tooltip:after {
            border-top-color: #3b5a9b;
        }

.social-icon i {
    position: relative;
    top: 1px;
}

.tooltip {
    display: block;
    position: absolute;
    top: 7px;
    left: 50%;
    padding: 0.8rem 1rem;
    font-size: 0.7rem;
    opacity: 0;
    pointer-events: none;
    text-transform: uppercase;
    transform: translate(-50%, -100%);
    transition: all 0.4s ease;
    z-index: 1;
    color: #fff;
}

    .tooltip:after {
        display: block;
        position: absolute;
        bottom: 1px;
        left: 50%;
        width: 0;
        height: 0;
        content: "";
        border: solid;
        border-width: 10px 10px 0 10px;
        border-color: transparent;
        transform: translate(-50%, 100%);
    }

.fa-twitter, .fa-facebook {
    color: #d8d8d8 !important;
}